<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
body{
  font-family: 'Montserrat', sans-serif;}
body{
  background-color: #0B0C10;
  min-height: 700px;
  position: relative;
}
  
  

h1,h2,h3,h4,h5{
  font-weight: 700;
  color: #66FCF1;
}
.navbar a{
  color:#66FCF1;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:#FFF700 !important;
}

a:active {
  text-decoration: none;
}


input{
  background-color: #1F2833 !important; 
  color: #66FCF1 !important;
}
/*HEADER*/
.header{
  background-color: #0B0C10;
  }/* Set the navbar to fixed position */
  

a:hover.navbar-brand, a:hover.footer-logo{
  color:#66FCF1 !important;
  
}

.nav-item{
  padding-right: 3rem;
  padding-left: 3rem;
}
li.nav-item:hover {
    background-color: #1F2833 !important;
}

.navbar {
  background-color: #0B0C10;
  color: #66FCF1;
  height: 20%;
  
}


.navbar-brand, a.footer-logo{
  padding-inline-start: 3rem;
  padding-right: 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: #66FCF1;
}

.btn-main{
  background-color: #66FCF1 !important;
  color: black !important;
}
/*HERO*/
.hero{
  background-color: #1F2833; 
}

.hero-post{
  position: relative;
}
.hero-post-badges {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  display: inline-block;
}

.hero-post-badges>a {
  
  top: 20px;
  right: 20px;
  background-color: #0B0C10;
  color:#66FCF1;
  display: blog;
  font-size: 0.8 rem;
  padding: 3px;
}
/**.wrap {
  position: relative;
} **/
.hero-post-content{
  position: absolute;
  bottom: 20px;
  color: #66FCF1;
  text-shadow: 1px 1px black, 2px 2px black, 2px 2px black, 1px 1px black;
}

.hero-post-content img {
  border: 2px solid #66FCF1;
}

img{
  filter: grayscale(30%) brightness(0.9);
  height: 100%;
  width: 100%;
 
}
 img.rounded-circle{
   filter: none;
   border: 2px solid #66FCF1;
   margin-left: 10px;
 }

 /*Mainblog*/
 .blog-posts {
   background-color: black;
   color: #C5C6C7;
 }
 
 .blog-post {
   background-color: #1F2833;
 }

.blog-post p {
  font-size:  0.8rem;
}
 .blog-post .col-sm-8{
   border-left: 3px solid #66FCF1
 }
.badges{
  margin-top: 1rem;
}

 .badge1 a {
  
   padding: 0.3rem;
   margin-bottom: 0.5rem;
   background-color: #66FCF1;
   color: #0B0C10;
   margin-top: 0.5rem;


 /*ASIDE*/

 }
.social-links{
  background-color: #66FCF1;
  font-size: 1.5rem;
}
.social-link1  {
  color:black !important;
  background-color: #66FCF1;
  font-size: 1.5rem;

}
.social-link,.social-link a{
  color:#66FCF1;
}
.secondary-color {
  background-color: #1F2833;
  color:#66FCF1;
}

.aside-heading {
  border-left: 3px solid #66FCF1;
}

.badge-link a{
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: #66FCF1;
  margin-top: 0.3rem;
  color: black;
  display: inline-block;
 
}

/*CREAT BLOG SECTION*/
.create-blog{
  background-color:#1F2833;
}

/*Footer*/
.footer{
  background-color: #1F2833;
  color:#C5C6C7;
  width: 100%;
  position: absolute;
  

}
.footer li a{
  color: #66FCF1;
}

/*****HOME.html*/
.how-help{
  background-color: #66FCF1;
  margin: #1F2833;
}

.intro{
  background-color: #1F2833;
  border: 0;
  color:#C5C6C7;
}
.home-heading{
  color:#66FCF1 !important;
}

.home-btn{
  background-color: #66FCF1;
}

.card2 .btn{
  background-color: #1F2833;
  color: whitesmoke;
}
.card3,.card1{
  background-color: #1F2833;
  color: whites;
}

.expert .carousel .btn {
  color: #1F2833;
  background-color: #66FCF1;
}
.expert .carousel .btn:hover{
  color:#66FCF1;
}
.homeblog .card{
  background-color: #66FCF1;
}

.homeblog {
  background-color: #0B0C10;
}

.home .btn:hover{
  background-color: black;
  color:#66FCF1 !important;
  
}
/*Login/SIgnup**/

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }


.transparent-input{
      background-color: rgba(12, 38, 34, 0.57)  !important;
    }

.login .heading{
   text-shadow: 1px 1px black, 2px 2px black, 2px 2px black, 1px 1px black;
}
 



    </style>
<!--font and icon-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body>
    <%-include("../partials/navbar2.ejs") %>
    
        <%if (success.length>0){%>
            <div class="alert alert-success" role="alert">
                <%=success%> 
            </div>
        <%}%>

        <%if (error.length>0){%>
            <div class="alert alert-warning" role="alert">
                <%=error%> 
            </div>
        <%}%>


    <main class="container">
        <%- body%>
    </main>
        
    <%-include('../partials/footer2.ejs') %>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>