<% layout('/layout/boilerplate.ejs')%>
<section id="blogs" class="bg-light ml-0 mr-0 mt-2 pb-3 text-center  " style="height: 650px;">
    <div class="container-lg ">
        <div class="d-flex container justify-content-between">
            <p class="display-5 lead mx-5 d d-none d-lg-block text-warning m-3"> Latest blogs</p>
            <form action="/blog/new">
                <button> Create your own blog</button>
            </form>
        </div>
        

        <div class=" row my-5 align-items-center mt-1">
            <%for (let blog of blogs){%>
                <div class="col-sm-4 g-0 m-0">
                    <div class="card  shadow-lg" id='pop' style="height:300px">
                        <div class="card-body text-center">
                            <p class="display-5 lead mx-5 d d-none d-lg-block"> <%=blog.title %></p>
                            <p class="lead my-4 text-warning fw-bold"><%= %> </p>
                            <%if(!(blog.authorClient==undefined)){%>
                            <p class="card-text mx-5 text-muted d-none d-lg-block">Written by: <%=blog.authorClient.fullname %></p>
                            <%}%>
                            <%if(!(blog.authorExpert==undefined)){%>
                                <p class="card-text mx-5 text-muted d-none d-lg-block">Written by: <%=blog.authorExpert.fullname %></p>
                                <%}%>
                            <a href="/blog/<%=blog._id%> " class="btn btn-outline-warning btn-lg mt-3">view more</a>
                        </div>
                    </div>
                </div>
            <%}%>
            
        </div>
    