<% layout('/layout/boilerplate2.ejs')%>
<div class="card shadow-lg m-3" id='pop' >
    <div class="card-body text-center">
        <p class="display-5 lead text-warning "><%=blog.title%></p>
        <%if(!(blog.authorClient==undefined)){%>
            <p>author: <%=blog.authorClient.fullname%> </p>
        <%}%>
        <%if(!(blog.authorExpert==undefined)){%>
            <p>author: <%=blog.authorExpert.fullname%> </p>
        <%}%>
        <p><%=blog.body %> </p>
        

        <a href="/blog/<%=blog._id%>/edit">edit this blog</a>
        <form action="/blog/<%=blog._id%>/?_method=delete" method="post">
            <button>delete</button>
        </form>

    </div>
</div>
<div class="card-body text-center">
    <p class="display-5 text-muted">comments:</p>
        <%for (c of commentList){%>
            <p><%=c.body%></p>
        
        <%if(!(c.authorClient==undefined)){%>
            <p>comment by: <%=c.authorClient.fullname%> </p>
        <%}%>
        
        <%if(!(c.authorExpert==undefined)){%>
            <p>comment by: <%=c.authorExpert.fullname%> </p>
        <%}%>
        <%}%>

        
        
        <form action='/blog/<%=blog._id%>/comment' method='post'>
            <input type="text" name='body'>
            <button>submit comment</button>
        </form>

</div>
    
        
    

